<!-- address_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address Selector</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Select Address</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <script type="text/javascript">
        $("#id_region").change(function() {
            var url = "{% url 'ajax_load_provinces' %}";
            var regionId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region_id': regionId
                },
                success: function(data) {
                    $("#id_province").html('<option value="">Select Province</option>');
                    $("#id_district").html('<option value="">Select District</option>');
                    $("#id_municipality").html('<option value="">Select City/Municipality</option>');
                    $("#id_barangay").html('<option value="">Select Barangay</option>');
                    $("#id_purok").html('<option value="">Select Purok</option>');
                    $.each(data, function(key, value) {
                        $("#id_province").append('<option value="' + value.id + '">' + value.province_name + '</option>');
                    });
                }
            });
        });

        $("#id_province").change(function() {
            var url = "{% url 'ajax_load_districts' %}";
            var provinceId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'province_id': provinceId
                },
                success: function(data) {
                    $("#id_district").html('<option value="">Select District</option>');
                    $("#id_municipality").html('<option value="">Select City/Municipality</option>');
                    $("#id_barangay").html('<option value="">Select Barangay</option>');
                    $("#id_purok").html('<option value="">Select Purok</option>');
                    $.each(data, function(key, value) {
                        $("#id_district").append('<option value="' + value.id + '">' + value.district_name + '</option>');
                    });
                }
            });
        });

        $("#id_district").change(function() {
            var url = "{% url 'ajax_load_cities' %}";
            var districtId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'district_id': districtId
                },
                success: function(data) {
                    $("#id_municipality").html('<option value="">Select City/Municipality</option>');
                    $("#id_barangay").html('<option value="">Select Barangay</option>');
                    $("#id_purok").html('<option value="">Select Purok</option>');
                    $.each(data, function(key, value) {
                        $("#id_municipality").append('<option value="' + value.id + '">' + value.municipality_name + '</option>');
                    });
                }
            });
        });

        $("#id_municipality").change(function() {
            var url = "{% url 'ajax_load_barangays' %}";
            var cityMunicipalityId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'municipality_id': cityMunicipalityId
                },
                success: function(data) {
                    $("#id_barangay").html('<option value="">Select Barangay</option>');
                    $("#id_purok").html('<option value="">Select Purok</option>');
                    $.each(data, function(key, value) {
                        $("#id_barangay").append('<option value="' + value.id + '">' + value.barangay_name + '</option>');
                    });
                }
            });
        });

        $("#id_barangay").change(function() {
            var url = "{% url 'ajax_load_puroks' %}";
            var barangayId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'barangay_id': barangayId
                },
                success: function(data) {
                    $("#id_purok").html('<option value="">Select Purok</option>');
                    $.each(data, function(key, value) {
                        $("#id_purok").append('<option value="' + value.id + '">' + value.purok_name + '</option>');
                    });
                }
            });
        });
    </script>
</body>
</html>
