{% for profile in profiles %}
<tr data-profile-id="{{ profile.id }}" class="profile-row">
    <td>
        {{ profile.first_name }} {{ profile.middle_name }} {{ profile.last_name }}
        {% if profile.extension_name %}
            {{ profile.extension_name }}
        {% endif %}
    </td>
    <td>{{ profile.get_gender_display }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-primary js-edit-profile" data-toggle="modal" data-target="#new-profile" data-url="{% url 'edit-profile' profile.pk %}">Edit</button>
        <button type="button" class="btn btn-sm btn-danger js-delete-profile" data-toggle="modal" data-target="#new-profile" data-url="{% url 'delete-profile' profile.pk %}">Delete</button>
    </td>
</tr>
{% endfor %}
