{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} City Municipality {% endblock title %}
{% block extrastyle %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock extrastyle %}
{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>City Municipality</h1>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-sm btn-primary float-right js-add-municipality" data-toggle="modal" data-target="#new-municipality" data-url="{% url 'add-municipality' %}">Add new</button>
                        </div>
                        <div class="card-body p-10">
                            <table id="municipality-list" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Municipality Name</th>
                                        <th>Zip Code</th>
                                        <th>District</th>
                                        <th>Created On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include "user/address/municipality/list_municipality.html" %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="new-municipality">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
{% endblock content %}
{% block extra_scripts %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function() {
        var loadForm = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('data-url'),
                type: 'get',
                dataType: 'json',
                beforeSend: function() {
                    $('#new-municipality').modal('show');
                },
                success: function(data) {
                    $('#new-municipality .modal-content').html(data.html_form);
                }
            });
        };

        var saveForm = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                data: form.serialize(),
                type: form.attr('method'),
                dataType: 'json',
                success: function(data) {
                    if (data.form_is_valid) {
                        $('#municipality-list tbody').html(data.municipality_list);
                        $('#new-municipality').modal('hide');
                    } else {
                        $('#new-municipality .modal-content').html(data.html_form);
                    }
                }
            });
            return false;
        };

        // Add municipality
        $('.js-add-municipality').click(loadForm);
        $('#new-municipality').on('submit', '.js-municipality-create-form', saveForm);

        // Edit municipality
        $('#municipality-list').on('click', '.js-edit-municipality', loadForm);
        $('#new-municipality').on('submit', '.js-municipality-edit-form', saveForm);

        // Delete municipality
        $('#municipality-list').on('click', '.js-delete-municipality', loadForm);
        $('#new-municipality').on('submit', '.js-municipality-delete-form', saveForm);

        // Initialize DataTables
        $('#municipality-list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock extra_scripts %}
