{% for address in addresses %}
<tr>
    <td>{{ address.house_number }}</td>
    <td>{{ address.address_type }}</td>
    <td>{{ address.region }}</td>
    <td>{{ address.province }}</td>
    <td>{{ address.district }}</td>
    <td>{{ address.municipality }}</td>
    <td>{{ address.barangay }}</td>
    <td>{{ address.purok }}</td>
    <td>
        <button type="button" class="btn btn-sm btn-primary js-edit-address" data-toggle="modal" data-target="#new-address" data-url="{% url 'edit-address' address.id %}">Edit</button>
        <button type="button" class="btn btn-sm btn-danger js-delete-address" data-toggle="modal" data-target="#new-address" data-url="{% url 'delete-address' address.id %}">Delete</button>
    </td>
</tr>
{% endfor %}
